{% extends "base.html" %}
{% block title %}Оценка водителя{% endblock %}

{% block content %}
    <h2>Оцените вашего водителя</h2>

    <form method="POST">
        <label for="rate">Выберите оценку:</label>
        <select id="rate" name="rate" required class="custom-select">
            <option value="1">1 - Очень плохо</option>
            <option value="2">2 - Плохо</option>
            <option value="3">3 - Нормально</option>
            <option value="4">4 - Хорошо</option>
            <option value="5">5 - Отлично</option>
        </select>

        <button type="submit" class="evaluate-btn">Оценить</button>
    </form>
{% endblock %}
